body, html {
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}
* {
    box-sizing: border-box;
}

.wrapper {
    width: 490px;
    margin: 0 auto;
    padding: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#prompt-input-div * {
    margin: 0 auto;
}
#prompt-input-div {
    
    border-radius: 5px;
    width: 470px;
    padding: 10px 0;
}
.reaction {
    border: 3px solid #4287f5;
    background-color: #a3c4fa;
}
.attack {
    border: 3px solid #f54442;
    background-color: #faa4a3;
}
.gameOver {
    border: 3px solid #333;
    background-color: #666;
}
#prompt-div {
    background-color: white;
    border: 2px solid black;
    min-height: 100px;
    margin-bottom: 5px;
    padding: 4px;
    line-height: 1.35;
    letter-spacing:1.1;
    color: #BBB;
    overflow: hidden;
    

    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}




#type-input {
    display: block;
    
    padding: 4px;
}
#prompt-div, #type-input {
    width: 450px;
    font-family: 'Courier New';
}

.currentWord {
    text-decoration: underline;
}
.typed {
    color: black;
}


#site-title {
    margin-bottom: 5px;
    text-align:center;
}
nav {
    text-align:center;
    list-style-type: none;
    margin-bottom: 15px;
}
nav li {
    display: inline;
    
}
nav li a {
    color: black;
    text-decoration: none;
}
nav li:not(:last-child) {
    margin-right: 5px;
}
nav li:not(:last-child):after {
    content: "|";
    margin-left: 8px;
}

#enemy-line {
    margin-bottom: 0;
}
#enemy-name {
    margin: 5px 0;
    font-weight: bold;
}
#enemy-hp {
    margin-top: 0;
}
.incorrect {
    animation: wiggle .25s linear;
}
#prompt-label {
    margin: -3px 7px 3px;
    font-weight: bold;
    font-family: Courier;
}
@keyframes wiggle {
    0% {
        transform: translate(2px, 0);
    }
    50% {
        transform: translate(-2px, 0);
    }
    100% {
        transform: translate(0);
    }
}
.dead {
    animation: fade .2s forwards,
               lower .3s forwards;

}

@keyframes fade {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}
@keyframes lower {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(10px);
    }
}

#log {
    width: 470px;
    margin-top: 15px;
}

#log-player-div {
    position: relative;
}
#player-info {
    text-align:right;
    position: absolute;
    right: 0;
    top: 15px;
}

.entry {
    margin: 0 auto;
    text-align: left;
    width: 90%;
}
.entry p, #player-info p{
    margin: 0;
}

#mobile-warning {
    display: none;
}

/* Media queries */
@media (max-width: 490px) {
    .wrapper, #prompt-input-div, #prompt-div, #type-input {
        width: 100%;
    }
    #prompt-input-div {
        padding-left: 5px;
        padding-right: 5px;
    }
    #mobile-warning {
        display: block;
        position: absolute;
        margin: auto;
        width: 85%;
        height: 200px;
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
        background-color: #333;
        color: white;
        padding: 8px;
    }

}
@media (max-width: 330px) {
    #mobile-warning {
        height: 300px;
    }

}